html {

    font-size: 62.5%; /* 計算を楽にするため。これを設定するとrem値を簡単に使える*/
}

body {
    font-family: sans-serif;    /*windowsではメイリオやMSPゴシック Macではヒラギノ角ゴ*/
    font-size: 16px; /* IE8サポート用*/
    font-size: 1.6em;
    /* chrome用
     ChromeだとbodyもRoot要素だと判断されるためか、htmlのfont-sizeが無効になり、デフォルトフォントサイズから1.4倍されるらしい。*/

    color: #333333;
}
/*ページヘッダー*/
#siteTitle{
    font-size: 4.0rem;
    line-height: 1.2;
    margin-bottom: 0;
    /* GoogleWebFontの適用*/
    font-family: 'Alegreya Sans', sans-serif;
}
#catchCopy{
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top:0.5rem;
}

/* ページフッター*/
#pageFoot{
    border-top: solid 0.1rem #CCCCCC;
    margin-top: 1.5rem;
}
#copyRight small{
    font-size: 1.2rem;
    line-height: 1.429;
}

p {
    font-size: 1.4rem;
    line-height: 1.429;

}

/* リスト */
ul li{
    font-size: 1.4rem;
    list-style-type: circle;
    /*list-style-position で長文の文章の頭を揃えるかそのまま続けて書くかを指定できる*/
}

/*表*/
table{
    font-size: 1.4rem;
    border: 0.1rem solid #CCCCCC;
    //padding: 0.5rem 1.0rem;
    border-collapse: collapse;
    width: 80%;    /*表の大きさを指定*/
}

table th,
table td{
    border: 0.1rem solid #CCCCCC;
    padding: 0.5rem 1.0rem;
}

table th{
    background-color: #EEEEEE;
    text-align: left;
}

table caption{
    text-align: left;
    font-weight: bold;
}

/* 図版 */
figure{
    margin: 0;
}
figcaption{
    font-size: 1.2rem;
}

/* 見出し */
.pageTitle {
    font-size: 2.6rem;
    background-color: #F2F2E5;
    padding: 0.5rem 1.5rem;
    /* GoogleWebFontの適用*/
    font-family: 'Alegreya Sans', sans-serif;
}

.heading-typeA {
    font-size: 1.8rem;
    color: #349FA6;
    border-bottom: solid 0.1rem #349FA6;
    padding: 0.5rem;
}

.heading-typeB {
    font-size: 1.6rem;
    border-left: solid 0.5rem #E3E4D9;
    padding-left: 1rem;
}

.heading-typeC {
    font-size: 1.4rem;
}

/* 区切り線・余白*/
.articleDetailHead {
    border-bottom: solid 0.1rem #CCCCCC;
    margin-bottom: 3.0rem;
    padding-bottom: 1.5rem;
}

.articleDetailFoot {
    border-top: solid 0.1rem #CCCCCC;
    margin-top: 3.0rem;
    padding-top: 1.5rem;
}

.articleDetailBody section {
    margin: 3.0rem 0;
}

/* 撮影情報 */
.creditUnit {
    padding: 1.0rem;
    border: solid 0.1rem #CCCCCC;
}

.creditUnit p {
    font-size: 1.2rem;
}